<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="solid.icon.english">

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".words_by_levels.Lev_a2.Level_A2" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.Lev_a2.PreIntermediate" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.lev_b1.Level_B1" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.lev_b1.Intermediate" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.lev_b1.Intermediate_v2" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.LevelByEnglish" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.TestOrLearn" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.ListenWrite" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.Definition" android:screenOrientation="portrait"/>
        <activity android:name=".words_by_levels.study_way.MainStudyAction" android:screenOrientation="portrait"/>

    </application>

</manifest>